.container {
 display: grid;
 grid-template-columns: auto auto auto auto;
 background-color: blueviolet;
}
.container > div {
 background-color: rgba(255, 255, 255, 0.8);
 border: 1px solid black;
 text-align: center;
 padding: 20px 0;
 font-size: 15px;
}